* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #f54a48;
  --orange: #fa982f;
  --black: #3c3c3c;
  --gray: #a2a2a2;
  --gray-dark: #7c7c7c;
  --gray-light: #e1e5ee;
  --white: #ffffff;
  --green: #34c38f;
  --green-hover: #22966b;
  --red-hover: #df3938;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #3c3c3c;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

a:hover {
  opacity: 1;
}

.container {
  max-width: 1020px;
  margin: 30px auto;
  padding: 0 16px;
}
